<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <p>
            Description of the Unit:<br>
            <br>
            <br>
            1) The trainer&nbsp;adds a list with the name of the learner and&nbsp;his/her corresponding&nbsp;peer-learner. Using the "desciption unit" phase, activity "list of
            learners and peer-learners" you can follow the example of the document.
	        In order to assess&nbsp;the&nbsp;task of the&nbsp;learner, the peer-learner has to select the name of the learner specified in
            this list.<br>
            2) In 1/3 Submission  phase. The learner has to do a task, you have to fill the activity "Text" with the corresponding activity content. 
            3) In 1/3 Submission  phase. The learner submit his/her task to the peer-learner. Using the activity "Enter your personal info and submit your assessment"<br>
            4) In 1/3 Submission  phase.The peer-learner check the submission of the learner. Using the activity "Checking the submission of assessments".<br>
            5) In 2/3 reading phase.The learner reads the first remarks and can provide some feedback (critic, complain, remark...). Using the activity "Reading your correction and requesting a review".<br>
            6) In Submission2  phase.Taking into account the comments of the peer-learner, the learner can check his document and submit the reviewed
            composition for the trainer. Using the activity "Submission2".<br>
            8) The trainer evaluates the task, taking into account learner´s remarks, and assign a qualification and a numerical
            mark. The trainer closes this activity.<br>
            9) In 3/3 Reading phase. The learner reads his/her dossier. Using the activity "Final valuation and dossier"
        </p>
    </body>
</html>


