<html>
	<head>
		<title>Objectives</title>
	</head>
	<body>
<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">Objectives</font><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">:</font></p>
<ul>
  <li><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">the student 
    submit his personal info and his assesment to the tutor</font></li>
  <li><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">the teacher 
    check the submission of all the students and close this activity</font></li>
</ul>
</body>
</html>


