<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <p>
            [Trainer]
        </p>
        <p>
            1. Plan&nbsp;significant questions that provide structure and direction to the lesson.
        </p>
        <p>
            2. You can use the button <em>New</em> to add a <em>Learning Activity</em> with the questions you planed in step 1.
        </p>
        <p>
            [Learner]&nbsp;Students will access the Learning activities created in by the teacher.
        </p>
    </body>
</html>
