<html>
	<head>
		<title>Objectives and description</title>
	</head>
	<body>
<p>Description:</p>
<ul>
  <li>small 
    quiz about knowledge of Geography</li>
  <li>user 
    name requested</li>
  <li>five 
    questions with three possible answers. Depending on the answer one or another 
    value is provided (0, 1 or 2) with a maximum of 10 to the full test</li>
  <li>only 
    when you have answered the five questions you can go ahead to see the results 
    (don&acute;t forget to refresh your browser)</li>
  <li>a total, 
    and simple average and a porcentage of accuracy are calculated</li>
  <li>an adaptive 
    feedback is provided depending on the average (less than 50, between 50 and 75 
    and more than 75)</li>
  <li><strong>the next 
    activity delivered depends also on the feedback</strong></li>
</ul>
<p>Objectives:</p>
<ul>
  <li>to show 
    and hide layers with different content</li>
  <li>to set-up 
    and manage properties to handle the answers, inside the manifest.xml file 
    </li>
  <li>to use 
    &acute;view-property&acute; and &acute;set-property&acute; in external XHTML 
    files together with information layers</li>
  <li>to store 
    values depending on choices and make calculations with them</li>
  <li><strong>to adapt 
    the learning process depending on the feedback acquired</strong></li>
</ul>
<p>Credits:</p>
<ul>
  <li>written 
    by Daniel Burgos, <a href="http://www.ou.nl" target="_blank">Open University 
    of The Netherlands</a>, r1.0, 050705, <a href="mailto:daniel.burgos@ou.nl" target="_blank">daniel.burgos@ou.nl</a></li>
</ul>
</body>
</html>


