
<STYLE>
 <!--
 div.wrapper{ margin: 6px; padding: 4px; background-color:#f0f0f0}
 .title {margin: 6px; font-size: 14px}
 .preamble {margin: 6px;}
 .whole{width: 95%}
 -->
 </STYLE>

<DIV class=whole>
<P class=title>[Trainer - TO BE COMPLETED]</P>
<P class=title>This is an example of an activity that you can provide to the learner. Edit it here.</P>
<P class=title>&nbsp;</P>
<P class=title>Feedback on your draft</P>
<DIV class=wrapper>
<P>your feedback...</P>
<P><?XML:NAMESPACE PREFIX = [default] http://www.imsglobal.org/xsd/imsld_v1p0 NS = "http://www.imsglobal.org/xsd/imsld_v1p0" /><view-property view="value" property-of="self" ref="locprop-771351f0-18ba-400a-8be5-a05e54c0aa7b" xmlns="http://www.imsglobal.org/xsd/imsld_v1p0"></view-property></P></DIV></DIV>