<html>
	<head>
		<title>Monitor Learner Progress</title>
	</head>
	<body>
	<style>
	<!--
	div.wrapper{ margin: 6px; padding: 4px; background-color:#f0f0f0}
	.title {margin: 6px; font-size: 14px}
	.preamble {margin: 6px;}
	.whole{width: 95%}
	-->
	</style>
	<div class="whole">
		<P class="title">Send feedback on a draft</P>
		<p class="preamble">Use the drop down list <i>Support User</i> to populate this with specific users. (found at the bottom left of the menu)</p>
		<div class="wrapper">
			<p>Enter feedback</p>
			<p><set-property xmlns="http://www.imsglobal.org/xsd/imsld_v1p0" ref="locprop-771351f0-18ba-400a-8be5-a05e54c0aa7b" property-of="supported-person" view="value"/></p>
		</div>
	</div>
</body>
</html>