
<STYLE>
  <!--
  div.wrapper{ margin: 6px; padding: 4px; background-color:#f0f0f0}
  .title {margin: 6px; font-size: 14px}
  .preamble {margin: 6px;}
  .whole{width: 95%}
  -->
  </STYLE>

<DIV class=whole>
<P class=title>[Trainer - TO BE COMPLETED]</P>
<P class=title>This is an example of an activity that you can provide to the learner. Edit it here.</P>
<P class=title>Submitting the first draft to your learning facilitator</P>
<DIV class=wrapper>
<P>By week two of the module you need to be ready to share your first draft with your learning facilitator. In the text of the draft you should highlight and comment on any issues which you would particularly like feedback on. Dont hold back as if you are having real problems, this is a good opportunity to address them. Note: you must rename each draft you send with a version number i.e. mydraft_version1.doc, then the next time mydraft_version2.doc </P></DIV>
<DIV class=wrapper>
<P>Browse for your draft file then click <I>ok</I></P><?XML:NAMESPACE PREFIX = [default] http://www.imsglobal.org/xsd/imsld_v1p0 NS = "http://www.imsglobal.org/xsd/imsld_v1p0" /><set-property ref="locprop-1dad2b2d-9d4a-4750-9d50-36ee49de2d2c" xmlns="http://www.imsglobal.org/xsd/imsld_v1p0"></set-property></DIV>
<DIV class=wrapper>
<P>Date your draft was last sent: <view-property ref="locprop-b524daf9-e44a-4be9-945f-b1abbbefd0d6" xmlns="http://www.imsglobal.org/xsd/imsld_v1p0" view="value" property-of="self"></view-property></P></DIV>
<DIV class=wrapper>
<P>Number of times draft has been submitted: <view-property ref="locprop-43f6f142-6c56-4e78-bd10-b86bfe598340" xmlns="http://www.imsglobal.org/xsd/imsld_v1p0" view="value" property-of="self"></view-property></P></DIV></DIV>