<html>
<body>
	<style>
	<!--
	div.wrapper{ margin: 6px; padding: 4px; background-color:#f0f0f0}
	.title {margin: 6px; font-size: 14px}
	.preamble {margin: 6px;}
	.whole{width: 95%}
	-->
	</style>
<div class="signoffnotset">
	<div class="wrapper">
		<p class="title">When you are ready to submit your final version, please follow this procedure:</p>
		<ul>
			<li><p>Create a PDF of your Google Document. In your document</p></li>
			<li><p>Choose the <i>File</i> menu</p></li>
			<li><p>Choose <i>Download file as</i></p></li>
			<li><p>Choose <i>pdf</i></p></li>
			<li><p>Return here and click on the <i>browse</i> button below.</p></li>
			<li><p>Locate the local pdf version of the Learning Outcomes document which you have just created</p></li>
			<li><p>Click <i>ok</i></p></li>
		</ul>

		<p><set-property xmlns="http://www.imsglobal.org/xsd/imsld_v1p0" ref="locprop-6041b274-aa3c-44e4-9a09-e7e45f8053c1" property-of="self" view="value"/></p>
		<p>Draft submitted?: <view-property xmlns="http://www.imsglobal.org/xsd/imsld_v1p0" ref="locprop-51147033-54c8-4243-bcad-e20d34cf4c9a" property-of="self" view="value"/></p>
		<p>Your signed off status is: <view-property xmlns="http://www.imsglobal.org/xsd/imsld_v1p0" ref="locprop-1b4a6b4a-eda0-4713-a7f8-bed05a314dc6" property-of="self" view="value"/></p>
		<p>Comments:</p>
		<p><view-property xmlns="http://www.imsglobal.org/xsd/imsld_v1p0" ref="locprop-fa456a4a-f3a9-4d37-a263-c9968179e320" property-of="self" view="value"/></p>
	</div>
</div>

<div class="signoffset">
	<div class="wrapper">
		<p>Your signed off status is: <view-property xmlns="http://www.imsglobal.org/xsd/imsld_v1p0" ref="locprop-1b4a6b4a-eda0-4713-a7f8-bed05a314dc6" property-of="self" view="value"/></p>
		<p>Comments:</p>
		<p><view-property xmlns="http://www.imsglobal.org/xsd/imsld_v1p0" ref="locprop-fa456a4a-f3a9-4d37-a263-c9968179e320" property-of="self" view="value"/></p>
	</div>
</div>
</body>
</html>