<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="file:///D|/websites/ldruntime/Templates/ldcontenttemplate_III.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<!-- InstanceBeginEditable name="content" -->
<div class="whole">
		<p class="title">Please provide the facilitator with feedback on your contacts with your workplace advocate.</p>
		<div class="wrapper">
			<p>Have you had a meeting with your workplace advocate?</p>
			<set-property xmlns="http://www.imsglobal.org/xsd/imsld_v1p0" ref="locprop-bcd4ee9e-55ad-41ba-a0ee-e619262cd54c"/>
		</div>
		<br></br>
		<div class="wrapper">
			<p>If you have met with your workplace advocate, please send your facilitator a short statement about the meeting.</p>
			<set-property xmlns="http://www.imsglobal.org/xsd/imsld_v1p0" ref="locprop-385b5ae6-388c-4e2b-9010-39cea328220f"/>
		</div>
</div>
	<!-- InstanceEndEditable --> 
</body>
<!-- InstanceEnd --></html>
