
<STYLE>
 <!--
 .whole{width: 95%}
 div.wrapper{ margin: 6px; padding: 6px; background-color:#f0f0f0}
 .title {margin: 6px; font-size: 14px}
 .preamble {margin: 6px;}
 textarea {width:99%}
 -->
 </STYLE>

<DIV class=whole>
<P class=title>[Trainer- TO BE COMPLETED]</P>
<P class=title>Here you have some examples to prepare your activity for the learner. </P>
<P class=title>&nbsp;</P>
<P class=title>Please provide the facilitator with feedback on your contacts with your workplace advocate.</P>
<DIV class=wrapper>
<P>Have you had a meeting with your workplace advocate?</P><?XML:NAMESPACE PREFIX = [default] http://www.imsglobal.org/xsd/imsld_v1p0 NS = "http://www.imsglobal.org/xsd/imsld_v1p0" /><set-property ref="locprop-bcd4ee9e-55ad-41ba-a0ee-e619262cd54c" xmlns="http://www.imsglobal.org/xsd/imsld_v1p0"></set-property></DIV>
<DIV class=wrapper>
<P>If you have met with your workplace advocate, please send your facilitator a short statement about the meeting.</P><set-property ref="locprop-385b5ae6-388c-4e2b-9010-39cea328220f" xmlns="http://www.imsglobal.org/xsd/imsld_v1p0"></set-property></DIV></DIV>