<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <p>
            [Trainer] (TO BE EDITED)
        </p>
        <p>
            You can use the text above for the explanation of this activity:
        </p>
        <p>
            Share the results from the pairs' discussions using the forum.
        </p>
        <p>
            All learners and the trainer can participate in the discussion.
        </p>
    </body>
</html>
