<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <p>
            <strong><u><span style="FONT-SIZE: 10pt"><font size="6" face="Verdana">Leísmo, Laísmo,
            Loísmo</font></span></u></strong>
        </p>
        <div>
            &nbsp;
        </div>
        <div style=
        "BORDER-BOTTOM: windowtext 1pt solid; BORDER-LEFT: windowtext 1pt solid; PADDING-BOTTOM: 1pt; PADDING-LEFT: 4pt; PADDING-RIGHT: 4pt; BORDER-TOP: windowtext 1pt solid; BORDER-RIGHT: windowtext 1pt solid; PADDING-TOP: 1pt">
            <p style=
            "BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 0cm; PADDING-RIGHT: 0cm; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0cm">
                <font face="Verdana"><strong><span style="FONT-SIZE: 10pt">Consisten en el uso inadecuado de los pronombres <em>le,
                les, la, las, lo, los</em></span></strong><span style="FONT-SIZE: 10pt">; es decir, usarlos en una función
                sintáctica diferente de la que les corresponde.</span></font>
            </p>
            <div style=
            "BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 0cm; PADDING-RIGHT: 0cm; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0cm">
                <span style="FONT-SIZE: 10pt">Hay que evitar estos errores, pues son <strong>vulgarismos</strong> que afean mucho
                la expresión.&nbsp;&nbsp;</span>
            </div>
            <div style=
            "BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0cm; PADDING-LEFT: 0cm; PADDING-RIGHT: 0cm; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0cm">
                &nbsp;
            </div>
        </div>
        <div>
            &nbsp;
        </div>
        <div>
            <span style="FONT-SIZE: 10pt">a) Para el <strong><u>Complemento indirecto</u></strong> se emplean siempre los
            pronombres <strong>le, les.</strong></span>
        </div>
        <div>
            &nbsp;
        </div>
        <div>
            <span style="FONT-SIZE: 10pt"><font face="Verdana">Son incorrectas las siguientes oraciones (Casos de LAÍSMO Y
            LOÍSMO):</font></span>
        </div>
        <div>
            &nbsp;
        </div>
        <div>
            <em><span style="FONT-SIZE: 10pt">* La he dado una carta a ella / *Lo he dado una carta a él.</span></em>
        </div>
        <div>
            <em><span style="FONT-SIZE: 10pt"><font face="Verdana">* La pegó una bofetada. / *Lo pegó un
            puñetazo.</font></span></em>
        </div>
        <div>
            <em><span style="FONT-SIZE: 10pt"><font face="Verdana">* La dije a Pepa que vendría. / *Lo dije a Pepe que
            vendría.</font></span></em>
        </div>
        <div>
            &nbsp;
        </div>
        <div>
            &nbsp;
        </div>
        <div>
            <span style="FONT-SIZE: 10pt">b) Para el <strong><u>complemento directo</u></strong> lo correcto es emplear siempre
            <strong>lo, la, los, las.</strong></span>
        </div>
        <div>
            &nbsp;
        </div>
        <div>
            <span style="FONT-SIZE: 10pt"><font face="Verdana">Son incorrectas las siguientes oraciones (Casos de
            LEÍSMO):</font></span>
        </div>
        <div>
            &nbsp;
        </div>
        <div>
            <em><span style="FONT-SIZE: 10pt">* Ese ejercicio le hice correctamente.</span></em>
        </div>
        <div>
            <em><span style="FONT-SIZE: 10pt"><font face="Verdana">* A Pepa le vi en el parque.</font></span></em>
        </div>
        <div>
            <em><span style="FONT-SIZE: 10pt"><font face="Verdana">* Coge el libro y dámele.</font></span></em>
        </div>
        <div>
            &nbsp;
        </div>
        <div>
            <span style="FONT-SIZE: 10pt"><font face="Verdana">Y también constituyen leísmo los siguientes casos:</font></span>
        </div>
        <div>
            &nbsp;
        </div>
        <div>
            <span style="FONT-SIZE: 10pt"><font face="Verdana"><em>A Pepe le vi en el parque.
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (<strong>Mejor:</strong> A Pepe lo vi en el
            parque)</em></font></span>
        </div>
        <div>
            <em><span style="FONT-SIZE: 10pt"><font face="Verdana">Al director le vi en el parque. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            (<strong>Mejor:</strong> Al director lo vi en el parque.)</font></span></em>
        </div>
        <div>
            <em><span style="FONT-SIZE: 10pt"><font face="Verdana">A usted le vi en el
            parque.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (<strong>Mejor:</strong> A usted lo vi en el
            parque.)</font></span></em>
        </div>
        <div>
            &nbsp;
        </div>
        <div>
            <span style="FONT-SIZE: 10pt"><font face="Verdana">La Real Academia Española considera <strong>aceptable</strong> el
            leísmo si el C.D. es un <strong>ser humano masculino y singular</strong>, pero no si es un animal o una cosa, o
            plural:</font></span>
        </div>
        <div>
            &nbsp;
        </div>
        <div>
            <em><span style="FONT-SIZE: 10pt">A tu primo le vi ayer. <strong>(Leísmo aceptado)</strong></span></em>
        </div>
        <div>
            &nbsp;
        </div>
        <div>
            <em><span style="FONT-SIZE: 10pt"><font face="Verdana">*A tus primos les vi ayer.&nbsp;*A tu perro le vi ayer. *A
            ustedes les vi ayer.</font></span></em><em><span style="FONT-SIZE: 10pt"><strong>&nbsp; (Son todos
            incorrectos)</strong></span></em>
        </div>
        <div>
            &nbsp;
        </div>
        <div>
            &nbsp;
        </div>
    </body>
</html>
