<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <h1 class="title">
            Present perfect indicative mood
        </h1><!-- begin content -->
        <div class="node">
            <!-- <span class="submitted">Submitted by dennis on Sat, 2006-06-03 02:11.</span> -->
            <div class="content">
                <p>
                    EL PRETÉRITO PERFECTO DE INDICATIVO
                </p>
                <p>
                    Se forma con el Presente de Indicativo del verbo HABER (auxiliar) Y el PARTICIPIO del verbo que se conjuga.
                </p>
                <p>
                    PARTICIPIO<br>
                    (infinitivo) (Participio)<br>
                    (1ª Conjug.) -AR CAMBIA -ADO<br>
                    Ejemplo: hablar hablado
                </p>
                <p>
                    (2ª Conjug.) -ER CAMBIA -IDO<br>
                    Ejemplo: comer comido
                </p>
                <p>
                    (2ª Conjug.) -IR CAMBIA -IDO<br>
                    Ejemplo: vivir vivido<br>
                    HABER (Auxiliar)
                </p>
                <p>
                    He<br>
                    Has<br>
                    Ha<br>
                    Hemos<br>
                    Habéis<br>
                    Han
                </p>
                <p>
                    Ejemplo:
                </p>
                <p>
                    He hablado He comido He vivido<br>
                    Has hablado Has comido Has vivido<br>
                    Ha hablado Ha comido Ha vivido<br>
                    Hemos hablado Hemos comido Hemos vivido<br>
                    Habéis hablado Habéis comido Habéis vivido<br>
                    Han hablado Han comido Han vivido
                </p>
                <p>
                    PARTICIPIOS IRREGULARES
                </p>
                <p>
                    INFINITIVO PARTICIPIO
                </p>
                <p>
                    ABRIR ABIERTO<br>
                    CUBRIR CUBIERTO<br>
                    DECIR DICHO<br>
                    ESCRIBIR ESCRITO<br>
                    HACER HECHO<br>
                    MORIR MUERTO<br>
                    PONER PUESTO<br>
                    PREVER PREVISTO<br>
                    ROMPER ROTO<br>
                    VER VISTO<br>
                    (FINAL) -OLVER (FINAL) -UELTO<br>
                    VOLVER VUELTO<br>
                    RESOLVER RESUELTO<br>
                    DEVOLVER DEVUELTO<br>
                    ... ...
                </p>
                <p>
                    VERBOS COMPUESTOS<br>
                    DESHACER DESHECHO<br>
                    EXPONER EXPUESTO<br>
                    DESCRIBIR DESCRITO<br>
                    PREDECIR PREDICHO<br>
                    ... ...
                </p>
            </div>
        </div>
    </body>
</html>
